<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" href="/index.css">
        <title>404</title>
    </head>

    <body>
        <header>
            <h1>404. Sorry, but this resource is unavailable: {{url}}</h1>
        </header>
        <nav id="navX">
            <p><a href="/">Return</a></p>
            <p><a href="/">Return</a></p>
        </nav>
        <footer><p>&#x1F955 Copyright &copy 2021 &#x1F955</p></footer>
    </body>
</html>